* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #23252C;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* padding: 50px; */
    margin: 0;
    padding: 0;
}

.container {
    height: 780px;
    width: 320px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 44px;
    margin-bottom: 44px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 20px; */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1A1B21;
    border-radius: 10px 10px 0px 0px;
}

.header--photo {
    height: 317px;
    width: 317px;
    border-radius: 10px 10px 0px 0px;
}

.header--title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin: 21px 0 0 0;
}

.header--subtitle {
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
    margin: 6px 0 0 0;
}

.header--link {
    font-size: 10.24px;
    line-height: 150%;
    text-align: center;
    color: #F5F5F5;
    margin: 9px 0 0 0;
}

.header--button_group {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
}

.header--button_group-btn {
    padding: 8px 25px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin: 15px 0 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #374151;
    border: none
}

.btn-white {
    color: white;
    background: #5093E2;
    border: none;
}

.header--button_group-btn i {
    width: 16px;
    height: 16px;
}

main {
    background: #1A1B21;
    padding: 33px;
}

.main--title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;
}

.main--description {
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 64px;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
}

.footer--socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

footer i {
    font-size: 25px;
    color: #918E9B;
}
